{deps, [{edown, "", {git, "https://github.com/esl/edown.git"}},
        {epgsql, "",{git, "https://github.com/wg/epgsql.git"}},
        {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {branch, "master"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        %% deps of hackney; these are just here so that rebar_eunit does the right thing
        %% {hackney_lib, ".*", undefined },
        {idna, ".*", undefined },
        {jsx,".*", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ]}.
{deps_dir, "./deps"}.

{sub_dirs, []}.
{erl_opts, [%%warnings_as_errors,
            no_strict_validation,
            warn_bif_clash,
            warn_deprecated_function,
            warn_export_all,
            warn_export_vars,
            warn_exported_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_unused_record,
            no_warn_unused_vars
]}.
{edoc_opts,[
%%comment to generate html docs.  TODO: figure out how to generate md & html at once.
{doclet, edown_doclet}
]}.
{eunit_opts, [verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_compile_opts, [{d,'NODEBUG'}]}.
