{neo4j, 
 [ 
  %% test transactionl endpoint (/db/data/transaction)
  {transaction_datasource,"erbi:neo4j"},
  %% test older cypher endpoint (/db/data/cypher)
  {cypher_datasource,"erbi:neo4j:endpoint=cypher"},
  %% uncomment to test writes to the database
  %% these tests function within a transaction only
  transactional_write,
  %% uncomment to test committed writes 
  nontransactional_write,
  %% this is here because erlang can't handle trailing commas
  the_end
 ]
}.
{epgsql,
 [
  { datasource , "erbi:epgsql:database=mydatabase"},
  { user , ""},
  { password , ""}
]
}.
{epgsql_temp,
[{data_dir,"tmp_data/temp_db_data_test"},
{sql_init_files,"../test/drivers/temp_db_schema.sql,../test/drivers/temp_ref_data.sql"}]
}.
{neo4j_temp,
[{data_dir,"tmp_data/temp_db_data_test"},
{neo4j_init_files,"../test/drivers/temp_db_init.cypher"}]
}.
{dummy_temp,
[{data_dir,"tmp_data/temp_db_data_test"}]
}.
