{neo4j, 
 [ 
  %% test transactionl endpoint (/db/data/transaction)
  %% {transaction_datasource,"erbi:neo4j"},
  %% test older cypher endpoint (/db/data/cypher)
  %% {cypher_datasource,"erbi:neo4j:endpoint=cypher"},
  %% uncomment to test writes to the database
  %% these tests function within a transaction only
  transactional_write,
  %% uncomment to test committed writes 
  nontransactional_write,
  %% this is here because erlang can't handle trailing commas
  the_end
 ]
}.
{epgsql,
 [
  { datasource , "erbi:epgsql:database=mydatabase"},
  { user , "test"},
  { password , "test"}
]
}.
{epgsql_pooled,
 [
  { datasource , "erbi:epgsql:database=mydatabase;pool_name=mydb;pool_size=3;pool_max_overflow=3"},
  { user , "test"},
  { password , "test"}
]
}.
